<div class="columns is-multiline is-desktop">
    <div class="column">
        {{#foreach posts}}
        {{#if @odd}}
        {{> "tile-card"}}
        {{/if}}
        {{/foreach}}
    </div>
    {{#foreach posts}}
    {{#has index="1"}}
    <div class="column">
    {{/has}}
    {{/foreach}}

    {{#foreach posts}}
    {{#if @even}}
    {{> "tile-card"}}
    {{/if}}
    {{/foreach}}

    {{#foreach posts}}
    {{#has index="1"}}
    </div>
    {{/has}}
    {{/foreach}}
</div>