{{!< default}}

<section class="hero has-text-centered is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{statusCode}}
      </h1>
      <h2 class="subtitle">
        {{message}}
      </h2>
    </div>
  </div>
</section>