.is-transparent{
    background-color: rgba(0, 0, 0, 0);;
}
.card {
    border-radius: 25px;
}
.card-footer{
    border-radius: 0px 0px 25px 25px;
}
.card-header{
    border-radius: 25px 25px 0px 0px;
}
.footer{
    padding: 3rem 1.5rem 1.5rem;
}
.pagination-next{
    color: white;
}
.pagination-previous{
    color: white;
}
.index-box:hover{
    background-color: yellow;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
a{
    color: yellow;
}