main { padding-top: 59px; }

.stars,
.twinkling,
.clouds {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
@media screen and (max-width: 770px) {
    .stars,
    .twinkling,
    .clouds {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 155vh;
        height: 155vh;
    }
  }
  @media screen and (max-width: 370px) {
    .stars,
    .twinkling,
    .clouds {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 185vh;
        height: 185vh;
    }
  }
.stars {
    z-index: 0;
    background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
    background-repeat: repeat;
}

.twinkling {
    z-index: 1;
    background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
    animation: move-twink-back 200s linear infinite;
    background-repeat: repeat;
}

.clouds {
    z-index: 2;
    background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
    animation: move-clouds-back 200s linear infinite;
    background-repeat: repeat;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}